PORT=3000
HTTPS_REQUESTER_SA_ACCOUNTS_HOST=api.backend.local
HTTPS_REQUESTER_SA_ACCOUNTS_PORT=443
HTTPS_REQUESTER_SA_ACCOUNTS_BASEPATH=/
HTTPS_REQUESTER_SA_ACCOUNTS_RESPONSE_TIMEOUT=30000
HTTPS_REQUESTER_SA_ACCOUNTS_CLIENT_ID=example-client-id
HTTPS_REQUESTER_SA_ACCOUNTS_CLIENT_SECRET=example-client-secret
AMAZON_S3_BUCKET=example-bucket
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
MULE_ENV=local
JSON_LOGGER_MASKED_FIELDS=firstName,lastName,personBirthdate,phone,mobilePhone,personEmail
